#app {
    display: grid;
    align-content: center;
    justify-content: center;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#btcPrice {
    margin-bottom: 10px;
    font-size: 22px;
}

.table-item {
    margin-bottom: 8px;
    border-bottom: solid 1px black;
}
